* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  color: #bdd0ff;
}

header {
  height: 100px;
  background-color: #0062ff;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.form-row {
  margin-top: 25px;
}

.form-row-2 {
  display: flex;
  flex-direction: row;
  width: 350px;
  padding: 2px;
  border: 1px solid #dbdbdb;
  border-radius: 17px;
}

input[type='text'] {
  background-color: #FFFFFF;
  border: none;
  font-size: 16px;
  color: #666666;
  outline: none;
  flex-grow: 2;
  margin-left: 5px;

}

button {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #0062ff;
  border: 1px solid;
  border-radius: 14px;
  padding: 4px 12px;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #4f9bf0;
}

button:active {
  background-color: #407FC7;
}

.location {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  margin-right: 3px;
  cursor: pointer;
}

section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
  font-size: 24px;
  font-weight: bold;
}

.city-name {
  display: flex;
  height: 90px;
}

.weatherResponse {
  font-size: 45px;
  color: #0062ff;
}

#weatherIcon {
  margin-bottom: 15px;
}

table, td {
 border-spacing: 1px;
}

table#t01, td {
  width: 150px;
  padding: 4px;
  background-color: #0062ff;
  text-align: center;
}

table tr td:nth-child(even) {
  border-radius: 0 10px 10px 0;
}
table tr td:nth-child(odd) {
  border-radius: 10px 0 0 10px;
}

.footer {
  background-color: #ededed;
  width: 100%;
  height: 70px;
  margin-top: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-icon {
  margin-right: 10px;
  margin-left: 10px;
}
